GCS_PROJECT_ID: google-cloud-platform-project-id
SERVICE_ACCOUNT_KEY: config/service-account-key.json
SWAGGER_HOST: api.example.com
DB_HOST: localhost:3306
DB_NAME: homeapi
DB_USER: homeapi
DB_PASS: hereispassword
APPLICATION_LOG: application_log
ACCESS_LOG: access_log
DATABASE_LOG: database_log

CONSUMER_KEY: twitter-consumer-key
CONSUMER_SECREET: twitter-consumer-secreet
ACCESS_TOKEN: twitter-access-token
ACCESS_SECRET: twitter-access-secret
